## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
%matplotlib inline

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,3.42,97,75,7.00,broken clouds
1,1,Bluff,NZ,-46.6000,168.3333,54.82,87,100,7.96,overcast clouds
2,2,Tiksi,RU,71.6872,128.8694,-6.18,95,100,5.59,overcast clouds
3,3,Laguna,US,38.4210,-121.4238,68.50,81,75,1.99,haze
4,4,Rikitea,PF,-23.1203,-134.9692,73.35,65,5,7.47,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [7]:
city_data_df.dtypes

Unnamed: 0               int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Rikitea,PF,-23.1203,-134.9692,73.35,65,5,7.47,clear sky
5,5,Kang,BW,-23.6752,22.7876,77.20,14,5,11.41,clear sky
7,7,Hilo,US,19.7297,-155.0900,80.33,79,1,6.91,clear sky
10,10,Luanda,AO,-8.8368,13.2343,78.33,85,57,12.71,broken clouds
11,11,Puerto Ayora,EC,-0.7393,-90.3518,76.96,84,46,8.99,scattered clouds
20,20,Georgetown,MY,5.4112,100.3354,80.53,93,40,5.99,scattered clouds
25,25,Luwuk,ID,-0.9516,122.7875,77.85,79,33,1.68,scattered clouds
29,29,Bandarbeyla,SO,9.4942,50.8122,77.29,74,100,11.90,overcast clouds
30,30,Salinopolis,BR,-0.6136,-47.3561,80.10,86,74,11.27,broken clouds
33,33,Atuona,PF,-9.8000,-139.0333,78.15,75,13,13.60,few clouds

In [9]:
# 4a. Determine if there are any empty rows.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df.count()

Unnamed: 0             270
City                   270
Country                269
Lat                    270
Lng                    270
Max Temp               270
Humidity               270
Cloudiness             270
Wind Speed             270
Current Description    270
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(how='any')
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Rikitea,PF,-23.1203,-134.9692,73.35,65,5,7.47,clear sky
5,5,Kang,BW,-23.6752,22.7876,77.20,14,5,11.41,clear sky
7,7,Hilo,US,19.7297,-155.0900,80.33,79,1,6.91,clear sky
10,10,Luanda,AO,-8.8368,13.2343,78.33,85,57,12.71,broken clouds
11,11,Puerto Ayora,EC,-0.7393,-90.3518,76.96,84,46,8.99,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
685,685,Fonte Boa,BR,-2.4959,-66.2662,80.69,94,36,0.72,scattered clouds
689,689,Magadi,IN,12.9667,77.2333,70.14,99,98,4.52,light rain
690,690,Samarinda,ID,-0.5000,117.1500,73.15,99,100,2.55,overcast clouds
695,695,Tomatlan,MX,19.9333,-105.2500,88.39,43,2,5.93,clear sky
697,697,Eirunepe,BR,-6.6603,-69.8736,78.96,80,100,2.48,overcast clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,73.35,clear sky,-23.1203,-134.9692,
5,Kang,BW,77.20,clear sky,-23.6752,22.7876,
7,Hilo,US,80.33,clear sky,19.7297,-155.0900,
10,Luanda,AO,78.33,broken clouds,-8.8368,13.2343,
11,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,
20,Georgetown,MY,80.53,scattered clouds,5.4112,100.3354,
25,Luwuk,ID,77.85,scattered clouds,-0.9516,122.7875,
29,Bandarbeyla,SO,77.29,overcast clouds,9.4942,50.8122,
30,Salinopolis,BR,80.10,broken clouds,-0.6136,-47.3561,
33,Atuona,PF,78.15,few clouds,-9.8000,-139.0333,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"]=f"{lat},{lng}"
    # outputFormat = json
    parameters = params
    destination= lat,lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url,params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ...skipping.")

Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,73.35,clear sky,-23.1203,-134.9692,People ThankYou
5,Kang,BW,77.20,clear sky,-23.6752,22.7876,Kang Ultra Stop
7,Hilo,US,80.33,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Luanda,AO,78.33,broken clouds,-8.8368,13.2343,Hotel Fórum
11,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
20,Georgetown,MY,80.53,scattered clouds,5.4112,100.3354,Cititel Penang
25,Luwuk,ID,77.85,scattered clouds,-0.9516,122.7875,Hotel Santika Luwuk
29,Bandarbeyla,SO,77.29,overcast clouds,9.4942,50.8122,JABIR HOTEL
30,Salinopolis,BR,80.10,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
33,Atuona,PF,78.15,few clouds,-9.8000,-139.0333,Villa Enata

In [14]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
#hotel_df.count()
nan_df = hotel_df.replace("",np.NAN)
nan_df.count()
clean_hotel_df = nan_df.dropna()
clean_hotel_df.count()
#clean_hotel_df = hotel_df.dropna()
#clean_hotel_df.count()

City                   250
Country                250
Max Temp               250
Current Description    250
Lat                    250
Lng                    250
Hotel Name             250
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer1 = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig1.add_layer(marker_layer1)
# 11b. Display the figure
fig1

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
#locations = clean_hotel_df[["Lat", "Lng"]]
#max_temp = clean_hotel_df["Max Temp"]
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
#marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
#fig.add_layer(marker_layer)

# Call the figure to plot the data.
#fig